.App {
  text-align: center;
  margin: 2%;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: ui-rounded;

}

.App-body {
  margin: 10vh 25vw;
}

.search-bar input {
  font-family: ui-monospace;
  font-size: x-large;
}

.data-table {
  text-align: -webkit-center;
  font-size: x-large;
  font-family: ui-monospace;
}

table {
  text-align: center;
  border-collapse: collapse;
}

tbody {
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}